:root {
  --font-weigth-regular: 400;
  --font-weigth-bold: 700;

  --font-family-base: "Overpass", sans-serif;

  --color-orage-primary: hsl(25, 97%, 53%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(217, 12%, 63%);
  --color-neutral-500: hsl(216, 12%, 54%);
  --color-neutral-600: hsl(216, 12%, 23%);
  --color-neutral-700: hsl(213, 19%, 18%);
  --color-neutral-900: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
/* #root, #__next {
  isolation: isolate;
} */

body {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-300);
  font-family: var(--font-family-base);
  font-size: 1rem;

  /* For this project */
  display: grid;
  place-content: center;
  margin: 0 1rem;
}
h1 {
  color: var(--color-neutral-100);
}
fieldset {
  border: 0;
  padding: 0;
}
div[data-illustration="thank-you"]::before {
  content: "";
  background-image: url("./images/illustration-thank-you.svg");
  width: 162px;
  height: 108px;
}
footer {
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100vw;
}

/* Utility Classes */

.grid-group {
  display: grid;
}
.center-content {
  place-content: center;
}

.flex-group-space-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none-displayed-element {
  display: none;
}

.text-center {
  text-align: center;
}

/* Circle */

.circle {
  --box-size: 12vw;

  display: grid;
  place-content: center;

  width: var(--box-size);
  height: var(--box-size);
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;

  background-color: var(--color-neutral-600);
}
.circle[data-icon="star"]::before {
  content: "";
  background-image: url("./images/icon-star.svg");
  width: 17px;
  height: 16px;
}

/* Button */

.button {
  border: 0;
  border-radius: 3rem;
  padding: 0.625rem 1rem;

  color: var(--color-neutral-100);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3rem;

  background-color: var(--color-orage-primary);

  cursor: pointer;
}
.button:is(:hover, :focus) {
  background-color: var(--color-neutral-100);
  color: var(--color-orage-primary);
}

/* Rating Styles */

.rating {
  --space-items: 2rem;
  --space-content: 2rem;

  --border-radius: 1rem;

  display: grid;
  gap: var(--space-items);
  position: relative;

  max-width: 400px;

  border-radius: var(--border-radius);
  padding: var(--space-content);

  background-color: var(--color-neutral-700);
}
.rating[data-state="pending"]::before {
  content: "";

  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  border-radius: var(--border-radius);
  background-color: var(--color-neutral-700);
  opacity: 0.5;
}
.rating__form {
  gap: var(--space-items);
}
.rating__number {
  cursor: pointer;
  font-size: 0.875rem;
}
.rating__number:hover {
  background-color: var(--color-orage-primary);
  color: var(--color-neutral-100);
}
input:checked + .rating__number {
  background-color: var(--color-neutral-300);
  color: var(--color-neutral-100);
}
.rating__summary-choice {
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  width: fit-content;

  background-color: var(--color-neutral-600);
  color: var(--color-orage-primary);
}
